<!DOCTYPE html>
<!-- ng-app -> definindo as fronteiras da aplicação -->
<html lang="pt-BR" ng-app="listaTelefonica">
    <head>
        <title>Lista Telefônica</title>
        <link rel="stylesheet" type="text/css" href="/node_modules/bootstrap/dist/css/bootstrap.css">
        <style>
            .jumbotron {
                width: 400px;
                text-align: center;
                margin-left: auto;
                margin-right: auto;
                margin-top: 20px;
            }

            .selecionado{
                background-color: yellow;
            }

            .negrito{
                font-weight: bold;
            }
        </style>
        <script src="/node_modules/angular/angular.js"></script>
        <script>
            angular.module("listaTelefonica", []);
            angular.module("listaTelefonica").controller("listaTelefonicaCtrl", 
                function ($scope) {
                    $scope.app = "Lista Telefônica";

                    $scope.contatos = [
                        { nome: "Pedro", telefone: "99998888", cor:"blue" },
                        { nome: "Ana", telefone: "99998877", cor:"red" },
                        { nome: "Maria", telefone: "99998866", cor:"yellow" }
                    ];

                    $scope.operadoras = [
                        { nome: "Oi", codigo: 14, categoria: "Celular" },
                        { nome: "Vivo", codigo: 15, categoria: "Celular" },
                        { nome: "Tim", codigo: 41, categoria: "Celular" },
                        { nome: "GVT", codigo: 25, categoria: "Fixo" },
                        { nome: "Embratel", codigo: 21, categoria: "Fixo" }
                    ];
                    
                    $scope.adicionarContato = function (contato) {
                        $scope.contatos.push(contato);
                        delete $scope.contato;
                    };

                    $scope.apagarContatos = function (contatos) {
                        $scope.contatos = this.contatos.filter(function (contato) {
                            if (!contato.selecionado) return contato;
                        });
                    };

                    $scope.isContatoSelecionado = function (contatos) {
                        return contatos.some(function (contato) {
                            return contato.selecionado;
                        });
                    };
                }
            );
        </script>
    </head>
    <!-- ng-controller -> Vinculando um elemento da View ao Controller -->
    <body ng-controller="listaTelefonicaCtrl">
        <div class="jumbotron">
            <!-- ng-bind -> Substituindo o elemento por uma expressão -->
            <h3 ng-bind="app"></h3>
            <table ng-show="contatos.length > 0" class="table">
                <thead>
                    <th></th>
                    <th style="padding-left: 25px;">Nome</th>
                    <th style="padding-left: 25px;">Telefone</th>
                    <th style="padding-left: 25px;">Operadora</th>
                    <th></th>
                </thead>
                <tbody>
                    <!-- ng-repeat -> Iterando sobre os itens de uma coleção ou de um objeto -->
                    <tr ng-class="{'selecionado negrito':contato.selecionado}" ng-repeat="contato in contatos">
                        <td><input type="checkbox" ng-model="contato.selecionado" style="cursor: p;"></td>
                        <td>{{contato.nome}}</td>
                        <td>{{contato.telefone}}</td>
                        <td>{{contato.operadora.nome}}</td>
                        <td><div style="width: 20px; height: 20px;" ng-style="{'background-color': contato.cor}"></div></td>
                    </tr>
                </tbody>
            </table>
            <hr>
            <!-- ng-model -> Vinculando um elemento de formulário a uma propriedade do $scope -->
            <input class="form-control" type="text" ng-model="contato.nome" placeholder="Nome">
            <input class="form-control" type="text" ng-model="contato.telefone" placeholder="Telefone">
            <!-- ng-options -> Especificando as opções de um elemento select -->
             <select class="form-control" ng-model="contato.operadora" ng-options="operadora.nome group by operadora.categoria for operadora in operadoras">
                <option value="">Selecione uma operadora</option>
             </select>
            <!-- ng-click -> Associando um evento de clique a um elemento -->
            <!-- ng-disabled -> Desabilitando um elemento -->
            <button class="btn btn-primary btn-block" ng-click="adicionarContato(contato)" ng-disabled="!(contato.nome && contato.telefone)">Adicionar Contato</button>
            <button class="btn btn-danger btn-block" ng-click="apagarContatos(contato)" ng-if="isContatoSelecionado(contatos)">Apagar Contato</button>
        </div>
        <div ng-include="'footer.html'"></div>
    </body>
</html>